* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div {
    height: 10em;
    width: 20em;
    background-color: lightseagreen;
}
@keyframes disappear {
    50% {
        background-color: white;
    }
}
.disappear {
    animation-name: disappear;
    animation-duration: 2s;
    animation-fill-mode: both;
}