* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.game {
    display: grid;
    grid-template: repeat(6, 110px) / repeat(4, 110px);
}
.card {
    background-image: url("https://raw.githubusercontent.com/miezuit/html-css-python/main/js/memory/img/wild_oliva.png");
    margin: 0.3em;
    border-radius: 0.5em;
}
.card img {
    visibility: hidden;
}
.card.faceUp img {
    visibility: visible;
}